* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* background-color: #363538; */
    background-color: #E9E9E9;
}

.dark {
    background-color: #353436;
    color: white;
}

.light {
    background-color: black;
}

.dark-text {
    color: white !important;
}

.filter {
    filter: brightness(0) invert(1);
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    background-color: #353436;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav img {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    padding: 10px 50px;
    margin: auto 0;
    /* filter: brightness(0) invert(1); */
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;
    align-items: center;
}

nav ul li {
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
}

nav ul li a {
    color: #EED9B7;
}

.glow li a:hover {
    text-decoration: underline;
    animation-name: glow;
    animation-duration: 4s;
}

@keyframes glow {
    0% {
        color: red;
    }

    25% {
        color: orange;
    }

    50% {
        color: green;
    }

    100% {
        color: white;
    }
}

.logo_glow {
    animation-name: filter;
    animation-duration: 1s;
}

@keyframes filter {
    0% {
        filter: brightness(0) invert(1);
    }

    10% {
        filter: brightness(10) invert(1);
    }

    20% {
        filter: brightness(20) invert(1);
    }

    30% {
        filter: brightness(30) invert(1);
    }

    40% {
        filter: brightness(40) invert(1);
    }

    50% {
        filter: brightness(50) invert(1);
    }


    60% {
        filter: brightness(60) invert(1);
    }


    70% {
        filter: brightness(70) invert(1);
    }


    80% {
        filter: brightness(80) invert(1);
    }

    90% {
        filter: brightness(90) invert(1);
    }

    100% {
        filter: brightness(100) invert(1);
    }
}

nav button {
    background-color: rgba(0, 0, 0, 1);
}

section {
    margin-bottom: 50px !important;
}

#home {
    display: flex;
    text-align: center;
    justify-content: center;
}

#home>div {
    width: 50%;
}

#home img {
    max-height: 90vh;
    max-width: 90%;
    padding: 20px;
}

.intro span {
    color: #DB051F;
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
}

.intro {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-right: 10%;
}

.intro p {
    margin-top: 10px;
    color: gray;
    font-size: 30px;
}

#about, #services, #contact {
    width: 80%;
    margin: 0 auto;
}

.contact {
    display: flex;
}

.split {
    border-right: gray solid 3px;
    margin-right: 40px;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact ul li {
    padding: 10px;
    background-color: #353436;
    border: gray solid 2px;
    margin: 10px;
}

#contact ul li a {
    color: #EED9B7;
    padding: 5px;
}

i {
    font-size: 25px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: #353436;
    color: #EED9B7;
    font-size: 25px;
}

label {
    display: inline-block;
    width: 15%;
    font-size: 20px;
    color: gray;
    margin-bottom: auto;
}

input, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    width: 90%;
}

textarea {
    height: 100px;
    min-height: 50px;
}

button {
    display: block;
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}



h2 {
    color: #DB051F;
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
}

.about {
    display: flex;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    color: gray;
    margin-top: 20px;
}

.about>div {
    margin-top: 20px;
    width: 50%;
}

.about>div>ul {
    list-style: circle;
}

.about div ul li {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.skill_logo {
    width: 60px;
    margin: 40px;
}

.skills {
    border-right: gray solid 3px;
    margin-right: 40px;
}

#services>ul {
    list-style: circle;
}

#services ul li {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.services>div {
    padding-left: 30px;
    margin-left: 30px;
}

.ring {
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: red;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px gray;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid red;
    border-right: 3px solid red;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.ring span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.ring span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: orange;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px gray;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@media screen and (max-width:1140px) {
    .about {
        display: block;
    }

    .about>div {
        width: 100%;
        border: none;
    }

    .skills>div {
        text-align: center;
    }

    .contact {
        display: block;
    }

    .split {
        border-right: none;
    }

    footer {
        display: block;
        text-align: center;
    }

    footer p:first-child {
        margin-bottom: 25px;
    }
}

@media screen and (max-width:680px) {
    #home {
        display: block;
    }

    nav {
        position: static;
    }

    #home img {
        max-height: 70vh;
        max-width: 80%;
        padding: 20px;
    }

    #home>div {
        width: 100%;
    }

    .intro {
        text-align: center;
    }

    #home, #about, #services, #contact {
        width: 90%;
        margin: 0 auto;
    }

    .skill_logo {
        width: 60px;
        margin: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    label {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

}